html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button {
    padding: 7px 14px;
    border: 1px solid black;
    color: black;
    background-color: white;
    margin: 14px 0;
    border-radius: 10px;
}

dialog {
    text-align: center;
    display: block;
}

canvas.fullscreen {
    width: 100vw;
    height: 100vh;
}

#player-name {
    width: 100%;
    border: 1px solid black;
    color: black;
}

#container {
    height: 18px;
}

#play-button {
    margin: 14px 0;
}

#enemy-name {
    width: 100%;
    border: 1px solid black;
    color: black;
}

#error-message {
    margin-block-start: 0;
    margin-block-end: 0;
}

#ui-wrapper {
    /* position:absolute; */
    position: absolute;
    width: 100vw;
    height: 100px;
    top: 1px;
    color: white;
}

input {
    background-color: transparent;
    border-color: transparent;
    color: white;
    width: 50px;
    text-align: center;
}